@import url('https://fonts.googleapis.com/css?family=Orbitron');


body {
    background-image: url("https://storage.ko-fi.com/cdn/useruploads/238d061f-85f4-4120-b7ef-d4dd5af6560b_png_a00de376-fee1-4dfa-b905-792cb513cc01cover.png?v=c053e565-2f65-4ab9-9635-2baa4b087e17");
    animation-duration: 10s;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	font-family: Bahnschrift, sans-serif;
	font-size: 19px;
}

html {
	scrollbar-color: #404040 #000000 !important;
	scrollbar-width: thin !important;
}

img.icon {
    width: 200px;
    animation: normal;
}

mark.red {
    color: #ff0000;
    background: none;
}

mark.green {
    color: #00ff0d;
    background: none;
}

p {
    color: white;
}

a:visited {
    color: rgb(254, 255, 192);
}

strong {
    color: white;
    font-weight: bold;
}

div{
    size: absolute;
}

div.left{
    size: absolute;
}

div.right{
    size: absolute;
}

div.titl {
    border: solid 5px rgb(34, 54, 34);
    background-color: rgb(71, 71, 71);
    background-image: url("assets/statbd.png");
    text-align: center;

    width: 1240px;
    margin: auto;


    margin-top: 100px;
}

div.selector {
    border: solid 5px rgb(49, 49, 49);
    background-color: rgb(71, 71, 71);
    background-image: url("assets/CEIL5_1.png");
    text-align: center;

    width: 1240px;
    margin: auto;

}

div.selector.half {
    border: solid 5px rgb(49, 49, 49);
    background-color: rgb(71, 71, 71);
    background-image: url("assets/CEIL5_1.png");
    text-align: center;

    width: 560px;
    margin: auto;

}


div.box {
    border: solid 5px rgb(34, 54, 34);
    background-color: rgb(71, 71, 71);
    background-image: url("assets/statbd.png");
    text-align: center;

    width: 1240px;
    margin: auto;

    margin-top: 50px;
}

div.intern {
    text-align: inherit;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 300px;
    margin-left: 300px;
}

div.jawn {
    text-align: left;

    width: 520px;
    margin: auto;
    margin-top: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-bottom: auto;

}

div.jawner {
    text-align: left;
}

div.changelog{
    border: 5px solid rgb(34, 34, 34);
    width: 620px;
    margin: auto;
    margin-top: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-bottom: auto;
}

li {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: white;
}

li.selector {
    display: inline;
    margin-right: 10px;
}


ul.selector {
    list-style: none;
    display: inline-block;
    text-align: center;
}

img.apartimage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: white;
}

a, a:link, a:visited, a:active, .linkOn, .linkOff, input
{
	color: #ffffff;
	text-decoration: none;
	background-image: linear-gradient(to right, #101a10, #223622);
	border: 1px solid #223622; 
	padding: 5px 10px 5px 10px;
	margin: 0 2px 0 0;
	cursor:pointer;
	white-space:nowrap;
}

a.playgame
{
	color: #ffffff;
	text-decoration: none;
	background-image: linear-gradient(to right, #4b0000, rgb(104, 0, 0));
	border: 1px solid #610000; 
	padding: 25px 10px 5px 10px;
	margin: 10px 0px 0px 0;
	cursor:pointer;
	white-space:nowrap;
}

.terror			{color: #dd0000;	font-weight: bold;	animation: terror 200ms infinite; text-shadow: 0 0 7px #c51e1e;}
@keyframes terror {
	0%		{color: #f75a5a; text-shadow: 0 0 7px #c51e1e;}
	50%		{color: #dd0000; text-shadow: 0 0 14px #c51e1e;}
	100%	{color: #f75a5a; text-shadow: 0 0 7px #c51e1e;}
}

table, th, td
{
	border-collapse: collapse;
	padding: 1px;
}

th
{
	background-color: #48656c;
}

span.red {
    color: #ff0000;
    background: none;
}

span.green {
    color: #00ff0d;
    background: none;
}