@import url('https://fonts.googleapis.com/css?family=Orbitron');


body {
    background-image: url("https://storage.ko-fi.com/cdn/useruploads/238d061f-85f4-4120-b7ef-d4dd5af6560b_png_a00de376-fee1-4dfa-b905-792cb513cc01cover.png?v=c053e565-2f65-4ab9-9635-2baa4b087e17");
    animation-duration: 10s;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

img.icon {
    width: 200px;
    animation: normal;
}

mark.red {
    color: #ff0000;
    background: none;
}

mark.green {
    color: #00ff0d;
    background: none;
}

p {
    color: white;
}

a:visited {
    color: rgb(254, 255, 192);
}

strong {
    color: white;
    font-weight: bold;
}

div{
    size: absolute;
}

div.titl {
    border: 10px outset rgb(71, 71, 71);
    background-color: rgb(71, 71, 71);
    background: url("assets/statbd.png");
    text-align: center;

    width: 1040px;
    margin: auto;


    margin-top: 300px;
}

div.selector {
    border: 10px outset rgb(71, 71, 71);
    background-color: rgb(71, 71, 71);
    background: url("assets/CEIL5_1.png");
    text-align: center;

    width: 1040px;
    margin: auto;

    margin-top: 20px;
}


div.box {
    border: 10px outset rgb(71, 71, 71);
    background-color: rgb(71, 71, 71);
    background: url("assets/statbd.png");
    text-align: center;

    width: 1240px;
    margin: auto;

    margin-top: 50px;
}

div.intern {
    text-align: inherit;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 300px;
    margin-left: 300px;
}

div.jawn {
    text-align: left;

    width: 520px;
    margin: auto;
    margin-top: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-bottom: auto;

}

div.jawner {
    text-align: left;
}

div.changelog{
    border: 5px solid rgb(34, 34, 34);
    width: 620px;
    margin: auto;
    margin-top: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-bottom: auto;
}

li {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: white;
}

li.selector {
    display: inline;
    margin-right: 10px;
}


ul.selector {
    list-style: none;
    display: inline-block;
    text-align: center;
}

img.apartimage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: white;
}